body{
	text-align: center;
	font-family: 'magic_school_oneregular';
	color: white;
	background-color: #0a0808;
}

/* Header */
#header-nav {
	background-color: #ded2bd;
	border: 0;
}

#hog-logo{
	width: 50px;
	height: 50px;
	margin: 10px 15px 10px 0;
}

#brand-edits {
	font-size: 1.75em;
	color: #0a0808;
	font-weight: bold;
	margin-top: 7px;
	margin-left: 15px;
	margin-bottom: 0;
}

#tagline {
	font-size: 1em;
	margin-left: 15px;
}

.navbar-brand {
	margin: 0px;
	padding: 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
	font-size: 1.5em;
	text-align: center;
}

#nav-list a:hover {
	background-color: white;
}
/* Header */

/* Homepage Content */
#wel {
	font-size: 70px;
	text-align: center;
}

.container .jumbotron {
	margin-top: 15px;
	padding: 0;
	border: 1px solid black;
	box-shadow: 0 0 15px #ded2bd;
}

#letterbox {
	background: url('../paper.jpg');
	border-radius: 5px;
	height: 150px;
	border: 1px solid #ded2bd;
	margin: 25px auto 25px auto;
	position: relative;
}

#letterbox img {
	margin: 35px auto 0 auto;

}

#letterbox span {
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 2em;
	color: #ded2bd;
	text-decoration: none;
	background-color: black;
	opacity: 0.8;
}

#letterbox:hover {
	box-shadow: 0 0 10px #ded2bd; 
}
/* Homepage Content */

/* Letter */

#letter {
	border: 2px solid black;
	box-shadow: 0 0 10px #ded2bd; 
	margin-left: 100px;
	margin-right: 100px;
	height: 800px;
	background: url('../papbg.jpg');
}

#letter img {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
}

#letter p:nth-child(2) {
	font-size: 2em;
	font-weight: bold;
	color: black;
}

#letter p:nth-child(3), #letter p:nth-child(4), #letter p:nth-child(5),#letter p:nth-child(6), #letter p:nth-child(7) {
	font-family: 'Caveat', cursive;
	font-size: 2em;
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 50px;
	text-align: left;
	color: black;
}

#letter p:nth-child(7) {
	font-weight: bold;
}


/* Lettrt */

/* Footer */
.panel-footer {
	margin-top: 15px;
	background-color: #ded2bd;
	border: 0;
}

.panel-footer div.row {
	margin-bottom: 5px;
}

#houses, #location, #affiliation {
	line-height: 1.5;
	font-size: 1.3em;
	color: #0a0808; 
}

#houses span, #location span, #affiliation span {
	font-size: 1.3em;
	font-weight: 700;
	text-align: left;
}

#location p {
	line-height: 1.5;
}

#albus {
	color: green;
}

.text-center {
	font-size: 1.2em;
	color: #0a0808;
}
/* Footer */

@media (max-width: 767px) {
	.navbar-brand {
		padding-top: 10px;
	}

	#brand-edits {
		padding-top: 0;	
		margin-top: 0;	
	}

	#ddbutton {
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px;
	}

	li>a>span {
		margin-left: 10px;
		font-size: 1.2em;
	}

	#wel {
		font-size: 300%;
	}
}